[submodule "third_party/gf256"]
	path = third_party/gf256
	url = https://github.com/catid/gf256.git
[submodule "agentic/cpp"]
	path = agentic/cpp
	url = https://github.com/Malkovsky/ai_for_cpp.git
[submodule "third_party/leopard"]
	path = third_party/leopard
	url = https://github.com/catid/leopard.git
[submodule "third_party/xdrs"]
	path = third_party/xdrs
	url = https://github.com/fastecc/xdrs.git
[submodule "third_party/isa-l"]
	path = third_party/isa-l
	url = https://github.com/intel/isa-l.git
